
# =========================
# Virtual environments
# =========================
jb_env/
venv/
env/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Jupyter Book / MyST builds
# =========================
docs/_build/
_build/
site/

# =========================
# Data files (pesados o locales)
# =========================
*.csv
*.gz
data/sensor_clean.csv.gz
sensor.csv

# =========================
# System files
# =========================
.DS_Store